<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBekkoD0jPdvpBlJQ63H4cdcMOpPKunca0</string>
	<key>GCM_SENDER_ID</key>
	<string>698883331613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.siva.TrendSpotter</string>
	<key>PROJECT_ID</key>
	<string>trendspotter-1ce8d</string>
	<key>STORAGE_BUCKET</key>
	<string>trendspotter-1ce8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698883331613:ios:8715d0a068487c937058f4</string>
</dict>
</plist>